In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df=pd.read_csv('geophone-sensor-data.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1786 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1772 non-null   object
 13  name           1785 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [9]:
df.isnull().sum()

timestamp         5
mean             16
top_3_mean       12
min              13
max              14
std_dev          19
median           16
q1               14
q3               19
skewness         26
dominant_freq    32
energy           17
activity         28
name             15
dtype: int64

In [11]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.0,2049.0,-0.152574,601.0,1.988682e+09,walking,Yusuf
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.0,2050.0,-0.150615,300.0,1.988028e+09,walking,baba
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.0,2049.0,-0.370125,300.0,1.987897e+09,walking,huhu
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.0,2049.0,-0.321296,300.0,1.987662e+09,walking,sddass
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2044.0,2049.0,-0.379134,300.0,1.988255e+09,walking,dfasadfs

# 1. Drop rows with missing values

In [16]:
df.dropna(inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1681 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1681 non-null   object
 1   mean           1681 non-null   float64
 2   top_3_mean     1681 non-null   float64
 3   min            1681 non-null   float64
 4   max            1681 non-null   float64
 5   std_dev        1681 non-null   float64
 6   median         1681 non-null   float64
 7   q1             1681 non-null   float64
 8   q3             1681 non-null   float64
 9   skewness       1681 non-null   float64
 10  dominant_freq  1681 non-null   float64
 11  energy         1681 non-null   float64
 12  activity       1681 non-null   object
 13  name           1681 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

# 2. Drop columns with missing values

In [29]:
df.dropna(axis=1, inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Empty DataFrame

In [33]:
df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [13]:
df['activity'].value_counts()

activity
running    603
waiting    600
walking    569
Name: count, dtype: int64

In [11]:
yozuvli_qator = df.select_dtypes(include=['object', 'category']).columns.tolist()

In [13]:
yozuvli_qator

['timestamp', 'activity', 'name']

In [15]:
Songa_Aylantir=LabelEncoder()

In [17]:
df['activity']=Songa_Aylantir.fit_transform(df['activity'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1786 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1800 non-null   int32
 13  name           1785 non-null   object
dtypes: float64(11), int32(1), object(2)
memory usage: 190.0+ KB

In [23]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.0,2049.0,-0.152574,601.0,1.988682e+09,2,Yusuf
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.0,2050.0,-0.150615,300.0,1.988028e+09,2,baba
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.0,2049.0,-0.370125,300.0,1.987897e+09,2,huhu
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.0,2049.0,-0.321296,300.0,1.987662e+09,2,sddass
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2044.0,2049.0,-0.379134,300.0,1.988255e+09,2,dfasadfs

In [21]:
df['activity']

0       2
1       2
2       2
3       2
4       2
       ..
1795    1
1796    1
1797    1
1798    1
1799    1
Name: activity, Length: 1800, dtype: int32

In [23]:
df['activity'].value_counts()

activity
0    603
1    600
2    569
3     28
Name: count, dtype: int64

In [7]:
df['activity'].fillna(df['activity'].mode()[0], inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_18740\2400843022.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['activity'].fillna(df['activity'].mode()[0], inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1786 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1800 non-null   object
 13  name           1785 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [15]:
df['activity'].value_counts()

activity
running    631
waiting    600
walking    569
Name: count, dtype: int64

In [17]:
Songa_Aylantir=LabelEncoder()

In [19]:
df['activity']=Songa_Aylantir.fit_transform(df['activity'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1786 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1800 non-null   int32
 13  name           1785 non-null   object
dtypes: float64(11), int32(1), object(2)
memory usage: 190.0+ KB

In [23]:
df['activity']

0       2
1       2
2       2
3       2
4       2
       ..
1795    1
1796    1
1797    1
1798    1
1799    1
Name: activity, Length: 1800, dtype: int32

In [25]:
df['activity'].value_counts()

activity
0    631
1    600
2    569
Name: count, dtype: int64

# oneHotEncoder

In [11]:
df_encoded=pd.get_dummies(df, columns=['activity'], drop_first=False)

In [13]:
df_encoded

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,name,activity_running,activity_waiting,activity_walking
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.0,2049.0,-0.152574,601.0,1.988682e+09,Yusuf,False,False,True
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.0,2050.0,-0.150615,300.0,1.988028e+09,baba,False,False,True
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.0,2049.0,-0.370125,300.0,1.987897e+09,huhu,False,False,True
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.0,2049.0,-0.321296,300.0,1.987662e+09,sddass,False,False,True
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2044.0,2049.0,-0.379134,300.0,1.988255e+09,dfasadfs,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,21:17:01,2037.587333,2040.000000,2034.0,2040.0,1.564089,2038.0,2037.0,2039.0,-0.883816,600.0,1.932680e+09,Emir,False,True,False
1796,21:17:04,2037.606000,2041.333333,2033.0,2042.0,2.160578,2038.0,2036.0,2040.0,-0.199801,300.0,1.932797e+09,Emir,False,True,False
1797,21:17:07,2037.984000,2041.000000,2034.0,2041.0,1.686736,2038.0,2036.0,2039.0,-0.339960,300.0,1.935105e+09,Emir,False,True,False
1798,21:17:10,2037.482000,2041.000000,2033.0,2041.0,2.123286,2037.0,2036.0,2040.0,-0.176030,300.0,1.932039e+09,Emir,False,True,False
1799,21:17:13,2038.450000,2041.000000,2035.0,2041.0,1.623012,2039.0,2037.0,2040.0,-0.419446,300.0,1.937954e+09,Emir,False,True,False

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1786 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1800 non-null   object
 13  name           1785 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [19]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         1795 non-null   object
 1   mean              1784 non-null   float64
 2   top_3_mean        1788 non-null   float64
 3   min               1787 non-null   float64
 4   max               1786 non-null   float64
 5   std_dev           1781 non-null   float64
 6   median            1784 non-null   float64
 7   q1                1786 non-null   float64
 8   q3                1781 non-null   float64
 9   skewness          1774 non-null   float64
 10  dominant_freq     1768 non-null   float64
 11  energy            1783 non-null   float64
 12  name              1785 non-null   object
 13  activity_running  1800 non-null   bool
 14  activity_waiting  1800 non-null   bool
 15  activity_walking  1800 non-null   bool
dtypes: bool(3), float64(11), object(2)
memory usage: 188.2+ KB

In [29]:
df_encoded.astype(int)

ValueError: invalid literal for int() with base 10: '1:51:43'

In [27]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         1795 non-null   object
 1   mean              1784 non-null   float64
 2   top_3_mean        1788 non-null   float64
 3   min               1787 non-null   float64
 4   max               1786 non-null   float64
 5   std_dev           1781 non-null   float64
 6   median            1784 non-null   float64
 7   q1                1786 non-null   float64
 8   q3                1781 non-null   float64
 9   skewness          1774 non-null   float64
 10  dominant_freq     1768 non-null   float64
 11  energy            1783 non-null   float64
 12  name              1785 non-null   object
 13  activity_running  1800 non-null   bool
 14  activity_waiting  1800 non-null   bool
 15  activity_walking  1800 non-null   bool
dtypes: bool(3), float64(11), object(2)
memory usage: 188.2+ KB

In [31]:
df_encoded.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,name,activity_running,activity_waiting,activity_walking
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.0,2049.0,-0.152574,601.0,1.988682e+09,Yusuf,False,False,True
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.0,2050.0,-0.150615,300.0,1.988028e+09,baba,False,False,True
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.0,2049.0,-0.370125,300.0,1.987897e+09,huhu,False,False,True
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.0,2049.0,-0.321296,300.0,1.987662e+09,sddass,False,False,True
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2044.0,2049.0,-0.379134,300.0,1.988255e+09,dfasadfs,False,False,True