In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('geophone-sensor-new.csv')

In [5]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043,2049.0,-0.152574,601.0,1.988682e+09,walking,Yusuf
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044,2050.0,-0.150615,300.0,1.988028e+09,walking,baba
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044,2049.0,-0.370125,300.0,1.987897e+09,walking,huhu
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044,2049.0,-0.321296,300.0,1.987662e+09,walking,sddass
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,haha,2049.0,-0.379134,300.0,1.988255e+09,walking,dfasadfs

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1786 non-null   object
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1772 non-null   object
 13  name           1785 non-null   object
dtypes: float64(10), object(4)
memory usage: 197.0+ KB

In [9]:
df.isnull().sum()

timestamp         5
mean             16
top_3_mean       12
min              13
max              14
std_dev          19
median           16
q1               14
q3               19
skewness         26
dominant_freq    32
energy           17
activity         28
name             15
dtype: int64

In [11]:
df['q1']

0       2043
1       2044
2       2044
3       2044
4       haha
        ...
1795    2037
1796    2036
1797    2036
1798    2036
1799    2037
Name: q1, Length: 1800, dtype: object

In [13]:
df['q1'].unique()

array(['2043', '2044', 'haha', '2045', '2042', '2045.75', '2047', '2046',
       '2048', '2041', '2042.75', nan, '2040', '2035', '2036', '2038',
       '2039', '2037', '2037.75', '2034', '2035.75', '2032', '2031.75',
       '2033', '2031', '2028', '2038.75', '2030', '2026.75', '2036.75',
       '2033.75', '2032.75', '2034.75', '2049', '2040.75', '2027', '2024',
       '2021', '2025', '2029', '2026', '2029.75', '2023.75', '2028.75',
       '2025.75', '2030.75', '2023', '2027.75'], dtype=object)

In [15]:
len(df['q1'])

1800

In [17]:
len(df['q1'].unique())

48

In [19]:
df['q1']=pd.to_numeric(df['q1'], errors='coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1785 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1772 non-null   object
 13  name           1785 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [33]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.0,2049.0,-0.152574,601.0,1.988682e+09,walking,Yusuf
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.0,2050.0,-0.150615,300.0,1.988028e+09,walking,baba
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.0,2049.0,-0.370125,300.0,1.987897e+09,walking,huhu
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.0,2049.0,-0.321296,300.0,1.987662e+09,walking,sddass
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,NaN,2049.0,-0.379134,300.0,1.988255e+09,walking,dfasadfs

In [35]:
df['q1'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1784 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1785 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1772 non-null   object
 13  name           1785 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [21]:
df['mean'].fillna(df['mean'].mean(), inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_23872\126942108.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mean'].fillna(df['mean'].mean(), inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1795 non-null   object
 1   mean           1800 non-null   float64
 2   top_3_mean     1788 non-null   float64
 3   min            1787 non-null   float64
 4   max            1786 non-null   float64
 5   std_dev        1781 non-null   float64
 6   median         1784 non-null   float64
 7   q1             1785 non-null   float64
 8   q3             1781 non-null   float64
 9   skewness       1774 non-null   float64
 10  dominant_freq  1768 non-null   float64
 11  energy         1783 non-null   float64
 12  activity       1772 non-null   object
 13  name           1785 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

# missing valuelar juda kup bulganligi uchun umumiy formuladan foydalanib ketaman

In [26]:
blank_space=df.columns[df.isnull().sum()>0]

In [28]:
blank_space

Index(['timestamp', 'top_3_mean', 'min', 'max', 'std_dev', 'median', 'q1',
       'q3', 'skewness', 'dominant_freq', 'energy', 'activity', 'name'],
      dtype='object')

In [46]:
for col in blank_space:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_23872\2988485129.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   object
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   object
 13  name           1800 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

# Encoding

In [35]:
raqamli_ustun=df.select_dtypes(include=['int64','float64']).columns

In [37]:
raqamli_ustun

Index(['mean', 'top_3_mean', 'min', 'max', 'std_dev', 'median', 'q1', 'q3',
       'skewness', 'dominant_freq', 'energy'],
      dtype='object')

In [39]:
yozuvli_ustun=df.select_dtypes(include=['object', 'category']).columns

In [41]:
yozuvli_ustun

Index(['timestamp', 'activity', 'name'], dtype='object')

# one hot encoding >> dummies orqali

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   object
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   object
 13  name           1800 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [32]:
df=pd.get_dummies(df, columns=yozuvli_ustun, drop_first=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Columns: 1828 entries, mean to name_sddass
dtypes: bool(1817), float64(11)
memory usage: 3.3 MB

In [36]:
df.head()

,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,...,name_asddsafadfs,name_baba,name_dfasadfs,name_dfdfsa,name_dfsaadsd,name_dfsadfsadfsaadfs,name_dfsdfsa,name_dsafdfsadfsa,name_huhu,name_sddass
0,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.000000,2049.0,-0.152574,601.0,...,False,False,False,False,False,False,False,False,False,False
1,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.000000,2050.0,-0.150615,300.0,...,False,True,False,False,False,False,False,False,False,False
2,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.000000,2049.0,-0.370125,300.0,...,False,False,False,False,False,False,False,False,True,False
3,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.000000,2049.0,-0.321296,300.0,...,False,False,False,False,False,False,False,False,False,True
4,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2037.610084,2049.0,-0.379134,300.0,...,False,False,True,False,False,False,False,False,False,False

In [38]:
df=df.astype(int)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Columns: 1828 entries, mean to name_sddass
dtypes: int32(1828)
memory usage: 12.6 MB

In [42]:
df.head()

,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,...,name_asddsafadfs,name_baba,name_dfasadfs,name_dfdfsa,name_dfsaadsd,name_dfsadfsadfsaadfs,name_dfsdfsa,name_dsafdfsadfsa,name_huhu,name_sddass
0,2046,2057,2035,2060,3,2047,2043,2049,0,601,...,0,0,0,0,0,0,0,0,0,0
1,2046,2053,2040,2053,3,2047,2044,2050,0,300,...,0,1,0,0,0,0,0,0,0,0
2,2046,2056,2030,2059,3,2047,2044,2049,0,300,...,0,0,0,0,0,0,0,0,1,0
3,2046,2054,2039,2055,3,2047,2044,2049,0,300,...,0,0,0,0,0,0,0,0,0,1
4,2046,2055,2034,2057,3,2048,2037,2049,0,300,...,0,0,1,0,0,0,0,0,0,0

In [51]:
from sklearn.preprocessing import OneHotEncoder

In [59]:
one_hot=OneHotEncoder(sparse_output=False, drop='first')

In [61]:
df_encoded=one_hot.fit_transform(df[yozuvli_ustun])

In [63]:
encoded_col=one_hot.get_feature_names_out(yozuvli_ustun)

In [80]:
df_encoded=pd.DataFrame(df_encoded)
df=pd.concat([df.drop(columns=yozuvli_ustun), df_encoded], axis=1)

In [82]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Columns: 1817 entries, 0 to 1816
dtypes: float64(1817)
memory usage: 25.0 MB

In [84]:
df_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
df_encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [69]:
encoded_col

array(['timestamp_16:30:14', 'timestamp_16:30:17', 'timestamp_16:30:20',
       ..., 'name_dsafdfsadfsa', 'name_huhu', 'name_sddass'], dtype=object)

# label encoding

In [74]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [76]:
df[yozuvli_ustun]=df[yozuvli_ustun].apply(encoder.fit_transform)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   int32
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   int32
 13  name           1800 non-null   int32
dtypes: float64(11), int32(3)
memory usage: 175.9 KB

# frequency encoding

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   object
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   object
 13  name           1800 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [46]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.000000,2049.0,-0.152574,601.0,1.988682e+09,walking,Yusuf
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.000000,2050.0,-0.150615,300.0,1.988028e+09,walking,baba
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.000000,2049.0,-0.370125,300.0,1.987897e+09,walking,huhu
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.000000,2049.0,-0.321296,300.0,1.987662e+09,walking,sddass
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2037.610084,2049.0,-0.379134,300.0,1.988255e+09,walking,dfasadfs

In [48]:
df[yozuvli_ustun]=df[yozuvli_ustun].apply(lambda col: col.map(col.value_counts()))

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   int64
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   int64
 13  name           1800 non-null   int64
dtypes: float64(11), int64(3)
memory usage: 197.0 KB

In [52]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.000000,2049.0,-0.152574,601.0,1.988682e+09,569,337
1,1,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.000000,2050.0,-0.150615,300.0,1.988028e+09,569,1
2,1,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.000000,2049.0,-0.370125,300.0,1.987897e+09,569,1
3,1,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.000000,2049.0,-0.321296,300.0,1.987662e+09,569,1
4,1,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2037.610084,2049.0,-0.379134,300.0,1.988255e+09,569,1

# Target Encoding

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   object
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   object
 13  name           1800 non-null   object
dtypes: float64(11), object(3)
memory usage: 197.0+ KB

In [50]:
raqamli_ustun

Index(['mean', 'top_3_mean', 'min', 'max', 'std_dev', 'median', 'q1', 'q3',
       'skewness', 'dominant_freq', 'energy'],
      dtype='object')

In [52]:
yozuvli_ustun

Index(['timestamp', 'activity', 'name'], dtype='object')

In [54]:
df['activity'].value_counts()

activity
running    631
waiting    600
walking    569
Name: count, dtype: int64

# Mapping

In [61]:
df['activity']=df['activity'].map({'running':1, 'waiting':2, 'walking':3})

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   object
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   int64
 13  name           1800 non-null   object
dtypes: float64(11), int64(1), object(2)
memory usage: 197.0+ KB

In [65]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,1:51:43,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.000000,2049.0,-0.152574,601.0,1.988682e+09,3,Yusuf
1,1:51:46,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.000000,2050.0,-0.150615,300.0,1.988028e+09,3,baba
2,1:51:50,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.000000,2049.0,-0.370125,300.0,1.987897e+09,3,huhu
3,1:51:53,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.000000,2049.0,-0.321296,300.0,1.987662e+09,3,sddass
4,1:51:56,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2037.610084,2049.0,-0.379134,300.0,1.988255e+09,3,dfasadfs

In [67]:
df[yozuvli_ustun]=df[yozuvli_ustun].apply(lambda col: col.map(df.groupby(col)['activity'].mean()))

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      1800 non-null   float64
 1   mean           1800 non-null   float64
 2   top_3_mean     1800 non-null   float64
 3   min            1800 non-null   float64
 4   max            1800 non-null   float64
 5   std_dev        1800 non-null   float64
 6   median         1800 non-null   float64
 7   q1             1800 non-null   float64
 8   q3             1800 non-null   float64
 9   skewness       1800 non-null   float64
 10  dominant_freq  1800 non-null   float64
 11  energy         1800 non-null   float64
 12  activity       1800 non-null   float64
 13  name           1800 non-null   float64
dtypes: float64(14)
memory usage: 197.0 KB

In [71]:
df.head()

,timestamp,mean,top_3_mean,min,max,std_dev,median,q1,q3,skewness,dominant_freq,energy,activity,name
0,3.0,2046.726000,2057.666667,2035.0,2060.0,3.452186,2047.0,2043.000000,2049.0,-0.152574,601.0,1.988682e+09,3.0,1.84273
1,3.0,2046.619333,2053.000000,2040.0,2053.0,3.580469,2047.0,2044.000000,2050.0,-0.150615,300.0,1.988028e+09,3.0,3.00000
2,3.0,2046.598000,2056.000000,2030.0,2059.0,3.592826,2047.0,2044.000000,2049.0,-0.370125,300.0,1.987897e+09,3.0,3.00000
3,3.0,2046.560000,2054.000000,2039.0,2055.0,3.414830,2047.0,2044.000000,2049.0,-0.321296,300.0,1.987662e+09,3.0,3.00000
4,3.0,2046.656667,2055.000000,2034.0,2057.0,3.356802,2048.0,2037.610084,2049.0,-0.379134,300.0,1.988255e+09,3.0,3.00000