In [1]:
import pandas as pd

In [21]:
df=pd.read_csv('Housing.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             541 non-null    float64
 1   area              541 non-null    float64
 2   bedrooms          545 non-null    int64
 3   bathrooms         542 non-null    float64
 4   stories           542 non-null    float64
 5   mainroad          542 non-null    object
 6   guestroom         543 non-null    object
 7   basement          540 non-null    object
 8   hotwaterheating   543 non-null    object
 9   airconditioning   543 non-null    object
 10  parking           544 non-null    float64
 11  prefarea          542 non-null    object
 12  furnishingstatus  542 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 55.5+ KB

In [25]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000.0,7420.0,4,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000.0,8960.0,4,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000.0,9960.0,3,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000.0,7500.0,4,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000.0,7420.0,4,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished

# missing valuelarni tuldirish

In [27]:
df.isnull().sum()

price               4
area                4
bedrooms            0
bathrooms           3
stories             3
mainroad            3
guestroom           2
basement            5
hotwaterheating     2
airconditioning     2
parking             1
prefarea            3
furnishingstatus    3
dtype: int64

In [29]:
bush_katak=df.isnull().sum()>0

In [31]:
bush_katak

price                True
area                 True
bedrooms            False
bathrooms            True
stories              True
mainroad             True
guestroom            True
basement             True
hotwaterheating      True
airconditioning      True
parking              True
prefarea             True
furnishingstatus     True
dtype: bool

In [33]:
for col in df.columns[bush_katak]:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_24532\3480344265.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_24532\3480344265.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    float64
 1   area              545 non-null    float64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    float64
 4   stories           545 non-null    float64
 5   mainroad          545 non-null    int32
 6   guestroom         545 non-null    int32
 7   basement          545 non-null    int32
 8   hotwaterheating   545 non-null    int32
 9   airconditioning   545 non-null    int32
 10  parking           545 non-null    float64
 11  prefarea          545 non-null    int32
 12  furnishingstatus  545 non-null    int32
dtypes: float64(5), int32(7), int64(1)
memory usage: 40.6 KB

In [37]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000.0,7420.0,4,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000.0,8960.0,4,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000.0,9960.0,3,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000.0,7500.0,4,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000.0,7420.0,4,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished

In [106]:
bush_katak

price                True
area                 True
bedrooms            False
bathrooms            True
stories              True
mainroad             True
guestroom            True
basement             True
hotwaterheating      True
airconditioning      True
parking              True
prefarea             True
furnishingstatus     True
dtype: bool

In [41]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

# Yozuvli ustunlarni topamiz

In [44]:
yozuvli_ustun=df.select_dtypes(include=['object','category']).columns

In [46]:
yozuvli_ustun

Index(['mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [48]:
for col in yozuvli_ustun:
    print(f"column {col}: {df[col].nunique()}")

column mainroad: 2
column guestroom: 2
column basement: 2
column hotwaterheating: 2
column airconditioning: 2
column prefarea: 2
column furnishingstatus: 3

# Encoding qilamiz

In [50]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [51]:
df[yozuvli_ustun]=df[yozuvli_ustun].apply(encoder.fit_transform)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    float64
 1   area              545 non-null    float64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    float64
 4   stories           545 non-null    float64
 5   mainroad          545 non-null    int32
 6   guestroom         545 non-null    int32
 7   basement          545 non-null    int32
 8   hotwaterheating   545 non-null    int32
 9   airconditioning   545 non-null    int32
 10  parking           545 non-null    float64
 11  prefarea          545 non-null    int32
 12  furnishingstatus  545 non-null    int32
dtypes: float64(5), int32(7), int64(1)
memory usage: 40.6 KB

In [56]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000.0,7420.0,4,2.0,3.0,1,0,0,0,1,2.0,1,0
1,12250000.0,8960.0,4,4.0,4.0,1,0,0,0,1,3.0,0,0
2,12250000.0,9960.0,3,2.0,2.0,1,0,1,0,0,2.0,1,1
3,12215000.0,7500.0,4,2.0,2.0,1,0,1,0,1,3.0,1,0
4,11410000.0,7420.0,4,1.0,2.0,1,1,1,0,1,2.0,0,0

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    float64
 1   area              545 non-null    float64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    float64
 4   stories           545 non-null    float64
 5   mainroad          545 non-null    int32
 6   guestroom         545 non-null    int32
 7   basement          545 non-null    int32
 8   hotwaterheating   545 non-null    int32
 9   airconditioning   545 non-null    int32
 10  parking           545 non-null    float64
 11  prefarea          545 non-null    int32
 12  furnishingstatus  545 non-null    int32
dtypes: float64(5), int32(7), int64(1)
memory usage: 40.6 KB

# scaling qilamiz

In [112]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [62]:
standard_scaler = StandardScaler()
df_standard_scaled = pd.DataFrame(standard_scaler.fit_transform(df), columns=df.columns)

In [64]:
df_standard_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    float64
 1   area              545 non-null    float64
 2   bedrooms          545 non-null    float64
 3   bathrooms         545 non-null    float64
 4   stories           545 non-null    float64
 5   mainroad          545 non-null    float64
 6   guestroom         545 non-null    float64
 7   basement          545 non-null    float64
 8   hotwaterheating   545 non-null    float64
 9   airconditioning   545 non-null    float64
 10  parking           545 non-null    float64
 11  prefarea          545 non-null    float64
 12  furnishingstatus  545 non-null    float64
dtypes: float64(13)
memory usage: 55.5 KB

In [66]:
df_standard_scaled.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,4.577837,1.049914,1.403419,1.442394,1.390975,0.405623,-0.465315,-0.734539,-0.219265,1.485221,1.523712,1.823567,-1.416253
1,4.015121,1.760625,1.403419,5.472176,2.552622,0.405623,-0.465315,-0.734539,-0.219265,1.485221,2.687896,-0.548376,-1.416253
2,4.015121,2.222126,0.047278,1.442394,0.229329,0.405623,-0.465315,1.361397,-0.219265,-0.673300,1.523712,1.823567,-0.096838
3,3.996364,1.086834,1.403419,1.442394,0.229329,0.405623,-0.465315,1.361397,-0.219265,1.485221,2.687896,1.823567,-1.416253
4,3.564949,1.049914,1.403419,-0.572497,0.229329,0.405623,2.149083,1.361397,-0.219265,1.485221,1.523712,-0.548376,-1.416253

# Training

In [69]:
x=df.drop('price', axis=1) #Input
y=df['price'] #Output

In [71]:
from sklearn.model_selection import train_test_split

In [73]:
x.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420.0,4,2.0,3.0,1,0,0,0,1,2.0,1,0
1,8960.0,4,4.0,4.0,1,0,0,0,1,3.0,0,0
2,9960.0,3,2.0,2.0,1,0,1,0,0,2.0,1,1
3,7500.0,4,2.0,2.0,1,0,1,0,1,3.0,1,0
4,7420.0,4,1.0,2.0,1,1,1,0,1,2.0,0,0

In [75]:
y.head()

0    13300000.0
1    12250000.0
2    12250000.0
3    12215000.0
4    11410000.0
Name: price, dtype: float64

In [79]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=42)

In [81]:
x_train.shape

(381, 12)

In [83]:
x_test.shape

(164, 12)

In [85]:
y_train.shape

(381,)

In [87]:
y_test.shape

(164,)

In [89]:
from sklearn.linear_model import LinearRegression

# Model tanlash

In [94]:
model=LinearRegression()

# Modelni urgatish

In [99]:
model.fit(x_train,y_train)

LinearRegression()

In [101]:
y_pred=model.predict(x_test)

In [103]:
y_pred[:7]

array([5445700.4802776 , 7075018.93642773, 3057709.22725597,
       4785488.22933242, 3297779.03877949, 3634562.33069171,
       5689660.63493185])